.all-quizzes-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.all-quizzes-wrapper .body {
  width: 100%;
  overflow: scroll;
  height: 100vh;
}

.all-quizzes-wrapper .header-top {
  font-size: 2em;
  font-weight: 500;
  padding: 40px 0 0 40px;
}

.all-quizzes-wrapper .quizzes-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card {
  margin-top: 40px;
  width: fit-content;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card .top-section {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #00000080;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card .top-section > div {
  display: flex;
  align-items: center;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card .top-section img {
  width: 20px;
  margin-left: 10px;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card img {
  object-fit: contain;

  width: 18vw;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card .quiz-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card .take-quiz {
  width: 50%;
  margin-top: 20px;
  margin: 20px auto 0;
  color: white;
}

.all-quizzes-wrapper .quizzes-wrapper .quiz-card .questions {
  margin: 2px 0;
}
