.auth-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.right {
  text-align: center;
  width: 100%;
  background-color: orange;
  height: 100vh;
  position: relative;
}

.right .header {
  margin-top: 150px;
  width: 50%;
}

.form {
  width: fit-content;
  margin: 0 auto;
}
.input {
  width: 15vw;
}
.sign-in-wrapper .input-wrapper {
  text-align: left;
  margin: 20px auto;
}
.sign-in-wrapper .input-wrapper:first-child {
  margin-top: 200px;
}
.btn {
  margin-top: 40px;
  font-size: 1.1em;
  width: 100%;
}
.new {
  margin-top: 50px;
  cursor: pointer;
  color: rgb(255, 21, 0);
  font-weight: bold;
}
.new:hover {
  transform: scale(1.2);
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  width: 100%;
  height: 100vh;
}
.left img {
  width: 70%;
  height: auto;
}
