.create-quiz-wrapper {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20vh;
}
.content input,
select {
  width: 80%;
  height: 4vh;
  border-radius: 10px;
  box-shadow: 1px 1px;
  margin-bottom: 2em;
}
.content .buttons,
.content .top-buttons {
  display: flex;
  justify-content: space-between;
}
.content .top-buttons {
  margin-bottom: 4em;
}
.btn.cancel {
  background-color: red;
  color: darkblue;
}
.button-group {
  display: flex;
}
.btn.save {
  background-color: green;
}

.answer {
  display: flex;
}
.modal-window .radio {
  border: none;
}
.relative {
  position: relative;
}
.close-icon img {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5%;
  top: 2px;
}
