.dashboard-wrapper {
  display: flex;
  width: 100vw;
}

.dashboard-wrapper .main {
  width: 100%;
  padding-top: 50px;
}

.dashboard-wrapper .top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.dashboard-wrapper .top > div {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
