.modal-window {
  height: auto;
  min-height: 40vh;
  width: 70vh;
  background-color: rgba(238, 237, 237, 0.835);
  border-radius: 10px;
  box-shadow: 1px 1px silver;
  position: relative;
  padding: 30px;
}
.modal-window input.checkbox {
  width: 30px;
  box-shadow: none;
  height: 30px;
  place-content: center;
  transform: translateY(30%);
}
.modal-window input.radio {
  box-shadow: none;
  width: 30px;
}
