.sidebar-wrapper {
  height: 100vh;
  background-color: darkblue;
  font-weight: bold;
  color: orange;
  width: 15vw;
  min-width: 250px;
  text-align: center;
  padding-top: 60px;
  min-height: 800px;
}
.sidebar-wrapper .header {
  font-size: 1.6em;
  margin-bottom: 26px;
}

.sidebar-wrapper .user .avatar {
  width: 7vw;
  height: 7vw;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.sidebar-wrapper .user .name {
  margin-top: 20px;
  font-size: 1.2em;
}
.sidebar-wrapper .links {
  height: auto;
  text-align: left;
  padding-top: 80px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar-wrapper .link {
  color: orange;
  text-decoration: none;
  border-bottom: 1px solid orange;
  font-weight: 500;
  padding: 15px 25px;
}

.sidebar-wrapper .link:hover {
  font-weight: bold;
}
