body {
  margin: 0;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  background-color: orange;
}

.input {
  border: none;
  border-bottom: 1px solid darkgray;
  font-size: 1em;
  padding: 15px;
  padding-left: 10px;
  outline: none;
}
.btn {
  background-color: darkblue;
  color: white;
  font-size: 0.9em;
  width: fit-content;
  padding: 15px 20px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 30px;
}
.btn2 {
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
}

.card {
  box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%, 0 3px 7px -3px rgb(0 0 0 / 30%));
  border-radius: 10px;
}
